body {
    background-size: 100%;
    background-position-x: center;
    background-color: rgb(35, 50, 56);
    /* display: inline-block; */
    /* overflow: hidden; */
  }
  
  #main {
      background-image: url("assets/pdx.png");
      background-repeat: no-repeat;
      background-size: 40vw;
      height: 100vh;
      display: block; 
      position: static;
      background-position-x: center;
  }
  
  .container {
    position: relative;
  }
 
  
  #block_one {
      width: 55vh;
      transform: translateY(5%); 
  }
  
  /* #shit {
    width: 75vw;
      z-index: 5;
      transform: translateY(55%);
      transition: 1s;
      background-color: #2196F3;
  } */
  
  #block_two {
      width: 75vw;
      transform: translateY(-285%);
  }
  
  #block_three {
      width: 75vw;
      transform: translateY(-285%);
  }
  
  #block_four {
      width: 75vw;
      transform: translateY(-285%);
   }
