body {
    background-size: 100%;
    background-color: rgb(35, 50, 56);
    overflow: hidden;
    margin: 0; 
    padding:0;
    text-align:center;
  }
  
  #main {
      background-image: url("assets/pdx.png");
      background-repeat: no-repeat;
      background-size: contain;
      height: 100vh;
      background-position-x: center;      
    }

  #scene {
    width: 75vw;
    text-align:center;
}
  
  #block_one {
    height: 85vh;
    transform: translate3D(0, 5%, 0);
    pointer-events: none;
  }
  
  #block_two {
      width: 95vw;
      transform: translate3D(0, 35%, 0);
  }
  
  #block_three {
      width: 95vw;
      transform: translate3D(0, 105%, 0);
  }
  
  #block_four {
      width: 95vw;
      transform: translate3D(0, 175%, 0);
   }
